.slider {
    width: 610px;
    height: 530px;
    border-radius: var(--border-radius-medium);
    background: #582424;
    flex-shrink: 0;
}

/* app/product/[id]/page.module.css */
.product {
    display: flex;
    gap: 40px;
    padding-top: 36px;

    @media (max-width: 1024px) {
        flex-direction: column;
    }
}