:root {
  --color-gray-100: #F0F0F0;
  --color-gray-200: #F2F0F1;
  --color-gray-300: #F0EEED;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-red: #FF3333;
  --color-yellow: #FFC633;

  --container-padding-x:100px;

  --border-radius-big:62px;
  --border-radius-medium:40px;
  --border-radius-small:20px;

}

.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
}

